.basic-main {
  width: 100%;
}
#canvas {
  width: 856px;
  height: 700px;
  float: left;
  //   padding-left: 76px;
  background-color: #ffffff;
}

.menu {
  width: 400px;
  height: 700px;
  float: right;
  background-color: #ffffff;
  margin-left: 10px;
}

.func {
  display: inline-block;
  margin-top: 34px;
  margin-left: -60px;
}

.button {
  margin-top: 20px;
  text-align: center;
}

.redraw-button {
  width: 150px;
  height: 45px;
}

.form {
  padding: 20px;
  //字体大小
  :deep(.ant-form-item-label > label),
  :deep(.ant-select),
  :deep(.ant-input-number-input) {
    font-size: 12px;
  }
}

.header {
  height: 28px;
  line-height: 28px;
  color: #ff0000;
}

.form-width {
  width: 70px !important;
}

.line-button {
  display: inline-block;
  font-size: 12px;
}

.modal-container {
  width: 100%;
  margin: 0 auto;
}

.road-sign {
  width: 50px;
  height: 100px;
  background-color: rgb(162, 162, 162);
  margin-left: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.road-sign:hover {
  background-color: #4f48ad;
}
