.basic-main {
  width: 100%;
}
#canvas {
  width: 700px;
  height: 700px;
  float: left;
  //   padding-left: 76px;
  margin-left: 10px;
  background-color: #ffffff;
}

.menu {
  width: 520px;
  height: 700px;
  float: right;
  background-color: #ffffff;
  margin-left: 10px;
}

.drag {
  display: inline-block;
  margin-top: 34px;
  margin-left: -60px;
}

.button {
  margin-top: 20px;
  text-align: center;
}

.redraw-button {
  width: 150px;
  height: 45px;
}
