.content {
  width: 1440px;
  margin: 24px auto;
  width: 1180px;
  padding: 24px;
  line-height: 28px;
  background-color: #fff;
  max-height: calc(100vh - 110px);
  overflow: auto;
  border-radius: 4px;
}

.label {
  padding: 5px 0 40px 2px;
}

.button {
  width: 400px;
  text-align: right;
}

.modal-container {
  max-height: 80vh;
}
