.map-container {
  width: 100%;
  height: calc(100vh - 71px);
  border-radius: 16px;
  :deep(.info-card) {
    position: relative;
    padding: 15px 25px;
    background-color: #fff;
    border-radius: 30px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    font-size: 22px;
    color: #19193e;
    &::after {
      content: "";
      border-width: 15px;
      position: absolute;
      left: 50%;
      bottom: -50%;
      transform: translateX(-50%);
      border-style: solid dashed dashed;
      border-color: #fff transparent transparent transparent;
    }
  }
}

.drawer-text {
  position: fixed;
  top: 50vh;
  right: 0px;
  color: #ffffff;
  background-color: #646cff; // #646cff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 30px;
  padding-left: 5px;
  font-size: 20px;
  height: 80px;
  line-height: 80px;
  z-index: 1000;
  cursor: pointer;
}

.opacity(@opacity) {
  opacity: @opacity;
  filter: ~"alpha(opacity=@{opacity} * 100)"; // 兼容IE8及以下版本
}

.design-content {
  position: absolute;
  top: 64px;
  left: calc((100% - 1395px) / 2);
  width: 1395px;
  z-index: 1000;
}

.slider-content {
  position: fixed;
  z-index: 1000;
  :deep(.ant-slider-vertical) {
    position: fixed;
    top: 260px;
    right: 20px;
    height: 180px;
    width: 40px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0 8px 19px rgba(41, 64, 102, 0.12);
  }
}

.search-address {
  margin-bottom: 24px;
}

.slider-content {
  margin-bottom: 24px;

  :deep(.ant-slider-handle) {
    background-color: #ffffff00 !important;
    border: none;
  }
  :deep(.ant-slider-rail) {
    background-color: #ffffff00 !important;
  }
  :deep(.ant-slider-track) {
    left: 0px;
    width: 40px;
    background-color: #646cff !important;
  }

  :deep(.ant-slider):hover .ant-slider-handle:not(.ant-tooltip-open) {
    background-color: #ffffff00 !important;
  }
}

.collapse {
  position: absolute;
  top: 36px;
  right: 0px;
  width: 33px;
  line-height: 30px;
  text-align: center;
  background: #fff;
  background-color: @main_color;
  color: #ffffff;
  border-radius: 0 8px 0 0;
  cursor: pointer;
}

.select {
  display: flex;
  line-height: 38px;
  cursor: pointer;

  &-title {
    width: 300px;
    padding: 0 10px;
  }
  &-address {
    float: right;
    width: 500px;
    padding-right: 10px;
    color: #a8a8a8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
  }
}

.select:hover {
  background-color: #e6f7ff;
}
