.basic-main {
  width: 100%;
  display: flex;
}

.main-canvas {
  width: 700px;
  height: 700px;
  float: left;
  background-color: #ffffff;
  margin-left: 10px;
}

#canvas {
  width: 700px;
  height: 700px;
  float: left;
  background-color: #ffffff;
}

.report {
  padding: 100px 24px 0px;
  width: 700px;
  height: 600px;
}

.menu {
  width: 520px;
  height: 700px;
  float: right;
  background-color: #ffffff;
  margin-left: 10px;
  padding: 24px;

  &-header {
    display: flex;
    margin: 6px 0;
    padding: 4px 4px 4px 10px;
    background-color: #e6f7ff;
    border-radius: 3px;
  }

  &-title {
    font-size: 14px;
    color: #ff4d4f;
    width: calc(100% - 20px);
  }

  &-content {
    //字体大小
    :deep(.ant-form-item-label > label),
    :deep(.ant-select),
    :deep(.ant-select-item),
    :deep(.ant-input) {
      font-size: 12px;
    }
  }

  :deep(.ant-btn) {
    font-size: 12px;
  }
}

.switch {
  text-align: right;

  &-title {
    font-size: 13px;
    padding-top: 15px;
  }
}

.func {
  position: relative;
  display: inline-block;
  padding-top: 34px;
  margin-left: -150px;
  height: 700px;
  width: 150px;
}

.error-msg {
  font-size: 24px;
  color: #ff4d4f;
  text-align: center;
  line-height: 700px;
}
