.header {
  max-height: 110px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 3px;

  &-name {
    padding: 10px;
  }

  &-plan {
    display: flex;
    border-top: 1px solid #f8f8f8;
    padding: 10px;
  }

  &-plan1 {
    display: inline-flex;
  }

  &-plan1 {
    .flex {
      display: flex;
    }

    .title {
      line-height: 32px;
    }

    .copy-btn {
      cursor: pointer;
      color: #4f48ad;
    }

    .minus-btn {
      cursor: pointer;
      color: #ff0000;
    }

    .plus-btn {
      cursor: pointer;
      color: #4f48ad;
    }

    .form-actitve {
      :deep(.ant-input) {
        background-color: rgb(255, 255, 153);
      }
    }
  }
}

.ant-table-striped :deep(.table-striped) td {
  background-color: #fafafa;
}

.content {
  margin-top: 10px;
  display: flex;

  :deep(.ant-form-item) {
    margin-bottom: -2px !important;
  }
  :deep(.ant-select-item) {
    font-size: 12px !important;
  }

  &-menu {
    width: 90px;

    &-item {
      height: 76px;
      text-align: center;
      line-height: 75px;
      margin-bottom: 2px;
      background-color: #4f48ad;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
    }

    &-item:hover {
      background-color: #1d185e;
    }

    &-item-active {
      background-color: #1d185e;
      font-weight: bold;
    }
  }

  &-main {
    width: 1240px;
  }
}

.form {
  // padding: 20px;
  //字体大小
  :deep(.ant-form-item-label > label),
  :deep(.ant-select),
  :deep(.ant-input),
  :deep(.ant-input-number-input),
  :deep(.ant-select-dropdown),
  :deep(.ant-select-item-option-content),
  :deep(.ant-table-wrapper) .ant-table-content {
    font-size: 12px !important;
    line-height: 24px;
  }
  :deep(.ant-collapse > .ant-collapse-item > .ant-collapse-header) {
    padding: 8px 16px;
  }
  :deep(.ant-divider-horizontal) {
    margin: 12px 0;
  }
}

.span-unit {
  width: 15px;
  display: inline-block;
  font-size: 12px;
  text-align: right;
}

.large-form-width2 {
  width: 200px !important;
}

.large-form-width {
  width: 150px !important;
}

.form-width {
  width: 75px !important;
}

.small-form-width {
  width: 50px !important;
}

.middle-form-width {
  width: 60px !important;
}

.gradient-text {
  position: absolute;
  bottom: 47px;
  right: 20px;
  height: 160px;
  text-align: center;
  .dec {
    writing-mode: vertical-lr;
    height: 110px;
  }
}

.gradient {
  position: absolute;
  bottom: 47px;
  right: 15px;
  height: 170px;
  width: 30px;
  border: 0.001rem solid #c7c2c2;
  background-color: #ff0000; /* 针对不支持渐变的浏览器 */
  background-image: linear-gradient(#ff0000, #ffff00, #00ff00);
}

.gradient-horizontal {
  position: absolute;
  bottom: 47px;
  right: 15px;

  .rect {
    width: 30px;
    text-align: center;
    color: #fff;
    border: 0.001rem solid #c7c2c2;
    margin-bottom: 5px;
  }

  &-A {
    background-color: #008000;
  }
  &-B {
    background-color: #2ad100;
  }
  &-C {
    background-color: #7cfc00;
  }
  &-D {
    background-color: #ffd700;
  }
  &-E {
    background-color: #ffa500;
  }
  &-F {
    background-color: #ff0000;
  }
}

.mt-8 {
  margin-top: 8px;
}

.add-line-btn {
  width: 100%;
  color: #1c46b5;
  background: #fff;
  border-color: #98bdfa;
  border-style: dashed;
  height: 32px;
  &:hover {
    color: #98bdfa;
  }
}

.main-canvas {
  position: relative;
  width: 700px;
  height: 700px;
  float: left;
  background-color: #ffffff;
  margin-left: 10px;
}

#canvas {
  position: absolute;
  width: 700px;
  height: 700px;
  background-color: #ffffff;
}

.func {
  position: absolute;
  display: inline-block;
  height: 700px;
  width: 60px;
  right: 0;
  z-index: 1;
}

.text-info {
  width: 640px;
  position: absolute;
  bottom: 25px;
  text-align: center;
  z-index: 1;
}

.report {
  padding: 100px 24px 0px;
  width: 700px;
  height: 600px;
}

.menu {
  width: 520px;
  height: 700px;
  float: right;
  background-color: #ffffff;
  margin-left: 10px;
  overflow-y: auto;

  &-header {
    display: flex;
    margin: 6px 0;
    padding: 4px 4px 4px 10px;
    background-color: #e6f7ff;
    border-radius: 3px;
  }

  &-title {
    font-size: 14px;
    color: #ff4d4f;
    width: calc(100% - 20px);
  }

  &-content {
    //字体大小
    :deep(.ant-form-item-label > label),
    :deep(.ant-select),
    :deep(.ant-select-item),
    :deep(.ant-input) {
      font-size: 12px;
    }
  }

  // :deep(.ant-btn) {
  //   font-size: 12px;
  // }
}

.switch {
  text-align: right;

  &-title {
    font-size: 13px;
    padding-top: 15px;
  }
}

.error-msg {
  font-size: 24px;
  color: #ff4d4f;
  text-align: center;
  line-height: 700px;
}

.mt-16 {
  margin-top: 16px;
}
