.header {
  max-height: 110px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 3px;

  &-name {
    padding: 10px;
  }

  &-plan {
    display: flex;
    border-top: 1px solid #f8f8f8;
    padding: 10px;
  }

  &-plan1 {
    display: inline-flex;
  }

  &-plan1 {
    .flex {
      display: flex;
    }

    .title {
      line-height: 32px;
    }

    .copy-btn {
      cursor: pointer;
      color: #4f48ad;
    }

    .minus-btn {
      cursor: pointer;
      color: #ff0000;
    }

    .plus-btn {
      cursor: pointer;
      color: #4f48ad;
    }

    .form-actitve {
      :deep(.ant-input) {
        background-color: rgb(255, 255, 153);
      }
    }
  }
}

.content {
  margin-top: 10px;
  display: flex;

  :deep(.ant-form-item) {
    margin-bottom: -2px !important;
  }
  :deep(.ant-select-item) {
    font-size: 12px !important;
  }

  &-menu {
    width: 100px;

    &-item {
      height: 76px;
      text-align: center;
      line-height: 75px;
      margin-bottom: 2px;
      background-color: #4f48ad;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
    }

    &-item:hover {
      background-color: #1d185e;
    }

    &-item-active {
      background-color: #1d185e;
      font-weight: bold;
    }
  }

  &-main {
    margin-left: 10px;
    width: 1580px;
  }
}

.form {
  padding: 20px;
  //字体大小
  :deep(.ant-form-item-label > label),
  :deep(.ant-select),
  :deep(.ant-select-item),
  :deep(.ant-input-number-input),
  :deep(.ant-input-sm),
  :deep(.ant-table-wrapper) .ant-table-content {
    font-size: 12px;
  }
}

.span-unit {
  width: 15px;
  display: inline-block;
  font-size: 12px;
  text-align: right;
}

.large-form-width2 {
  width: 200px !important;
}

.large-form-width {
  width: 150px !important;
}

.form-width {
  width: 75px !important;
}

.small-form-width {
  width: 50px !important;
}

.middle-form-width {
  width: 60px !important;
}

.gradient {
  position: absolute;
  bottom: 50px;
  right: 50px;

  .rect {
    width: 60px;
    text-align: center;
    color: #fff;
    border: 1px solid #888;
    margin-bottom: 5px;
  }

  &-A {
    background-color: rgb(0, 255, 0);
  }
  &-B {
    background-color: rgb(100, 255, 0);
  }
  &-C {
    background-color: rgb(150, 255, 0);
  }
  &-D {
    background-color: rgb(255, 200, 0);
  }
  &-E {
    background-color: rgb(255, 100, 0);
  }
  &-F {
    background-color: rgb(255, 50, 0);
  }
}

.mt-8 {
  margin-top: 8px;
}

.add-line-btn {
  width: 100%;
  color: #1c46b5;
  background: #fff;
  border-color: #98bdfa;
  border-style: dashed;
  height: 32px;
  &:hover {
    color: #98bdfa;
  }
}
