.basic-main {
  width: 100%;
}
#canvas {
  width: 856px;
  height: 700px;
  float: left;
  margin-left: 10px;
  background-color: #ffffff;
}

.menu {
  width: 530px;
  height: 700px;
  float: right;
  background-color: #ffffff;
  margin-left: 10px;
  overflow-y: auto;
}

.func {
  display: inline-block;
  margin-top: 34px;
  margin-left: -60px;
}

.button {
  margin-top: 20px;
  text-align: center;
}

.redraw-button {
  width: 150px;
  height: 45px;
}

.form {
  padding: 20px;
  //字体大小
  :deep(.ant-form-item-label > label),
  :deep(.ant-select),
  :deep(.ant-input-number-input),
  :deep(.ant-input-sm),
  :deep(.ant-table-wrapper) .ant-table-content {
    font-size: 12px;
  }
}

.header {
  font-size: 12px;
  height: 14px;
  line-height: 18px;
  color: #ff0000;
}

.content {
  :deep(.ant-form-item) {
    margin-bottom: -2px !important;
  }
  :deep(.ant-select-item) {
    font-size: 12px !important;
  }
}

.form-width {
  width: 100px !important;
}

.small-form-width {
  width: 50px !important;
}

.middle-form-width {
  width: 60px !important;
}

.span-unit {
  width: 15px;
  display: inline-block;
  font-size: 12px;
  text-align: right;
}

.line-button {
  display: inline-block;
  font-size: 12px;
}

.modal-container {
  width: 100%;
  margin: 0 auto;
}

.road-sign {
  // cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  // margin-right: 10px;
}

.flow-info {
  border: 1px solid #d0d0d0;
  font-size: 12px;
  display: flex;

  &-title {
    width: 50px;
    // height: 50px;
  }

  &-content {
    width: 80px;
    text-align: center;
    .arrow {
      height: 40px;
    }
    // height: 80px;
  }
}

:deep(.ant-table-tbody > tr.click-row td) {
  background-color: #e6f7ff !important;
  // color: #ffffff;
}
