.content {
  width: 1440px;
  margin: 24px auto;
  width: 1180px;
  padding: 24px;
  line-height: 28px;
  background-color: #fff;
  max-height: calc(100vh - 110px);
  overflow: auto;
  border-radius: 4px;

  h3 {
    padding-top: 24px;
  }

  div {
    line-height: 36px;
  }
  img {
    padding-top: 18px;
  }
}
