.basic-main {
  width: 100%;
}

#canvas {
  width: 700px;
  height: 700px;
  float: left;
  margin-left: 10px;
  background-color: #ffffff;
}

.menu {
  width: 520px;
  height: 700px;
  float: right;
  background-color: #ffffff;
  margin-left: 10px;
  font-size: 12px;
}

.road-sign {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

:deep(.ant-table-tbody > tr.click-row td) {
  background-color: #e6f7ff !important;
}

.phase-text {
  font-size: 65px;
  color: rgb(162, 162, 162);
  width: 100%;
}

.legend-text {
  font-weight: bolder;
  font-size: 12px;
  fill: #ffffff;
}

.modal-input-width {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px !important;
}
