<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DBConnection" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <!--开发-->
    <add key="DBServer" value="106.55.32.150"/>
    <add key="DBName" value="root_db"/>
    <add key="DBUser" value="root"/>
    <add key="DBPwd" value="Zjc@mysql.com"/>
    <add key="DBPort" value="3306"/>

    <!--生产-->
    <!--<add key="DBServer" value="47.99.203.241"/>
    <add key="DBName" value="bfj"/>
    <add key="DBUser" value="bfj_user"/>
    <add key="DBPwd" value="@#Bf4J202U*#Fpi"/>
    <add key="DBPort" value="3306"/>-->

    <!--微信小程序配置-->
    <add key="AppId" value="wx433a1bfe3f3ea95e"/>
    <add key="AppSecret" value="e29bac1a4d6715cb5b344696499251b5"/>
    <add key="MerchantId" value="1609882511"/>
    <add key="MerchantV3Secret" value="jieyangkanhbufeijin4564564564"/>
    <add key="MerchantCertSerialNumber" value="16B77BFE9F35521AF6E7F6F795A45C2E835B48E1"/>
    <add key="MerchantCertPrivateKey" value="-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCzCorBeYfIp9oh
L3BERbN7BgxDZKZbnO3vFufimE6FSS64DOKrrsXevOyhgSDpda9eCHLcx6VdeHu1
n0h+48UBNqM2XPIm9ncoDuKdHDW/XG7rdm3BA+uCEMRs3mKcA7A9ngy69pRcBGnH
bm4eQZoWlq2wLRPrj6vgty/eWnbqgjBWh8z+QeOuMeC6VUszcfPAAkdoOTVBfLlz
Fw3UnKtsgOcofTLE0Kp5ZrGNj9ugK1Cd3h8hk/NG1H8GUEfB/cpFLkMjDwzmODyx
SsMzXNvR1kbNuf1rAADFhIQG90WIvk6+MGCVBsMvFcryLntGCpdjCQTFgpRbTvXt
W8XDEIfHAgMBAAECggEAHJx9qgdqzIUOValIDpD46pr/0LE/6Hn+h+uoKMzgF2qn
faAJhRgL5NlaE0EYalZ1LNi6yk9ZPMOpOU/3/NcXP2dk06YsyE8woYUnb6X3bNov
m480YNjohMN7ME6lgXsRafdc32/SK5ZE9SrPjCQ9pIh1vyak/UrbU7DShHz+beEV
kvfRjpWaU4ahyKznDyHdeC1p8QDY7DGIIbysaDV7M1hgCGdYEUP0Db0OyBSd+aMJ
8KI3aJflNuXeo7ruiMsQQ127utVrH2zR8zx1mr2TvItIgXclk78Hn5KqoBv0+TNl
cW4IUNHFcpDMSVjJnk77zGU+9hX6cKcHJBJRRIRnKQKBgQDlipINX8eXq7ooiJ3a
ZpDn7Q4+8J0RJsR6HqpDMFe+csU2szeLEUenFQV55wg9RSQRLzCYvevMwqBNWFC8
khymvy/8RYxJ1zex/2Z05iFdz1pDi9UdazWXwXWUwaA+5Pc1ctlvqWaGEVJDiMeU
t2jn1O1hUWKxy/+EI3jNWj9smwKBgQDHrcllBTxPQey/tyN23IymxbUi4XsxTZOA
GWwgyNcELUuncZinnPLY3g7tQ74aOwfxSyH5ZuzE2BGLRqkH1S2lgUzWPSGfkeyv
Keahxbxlr2ZBqyhWv/P65/1hD/DAQx4tJZx3K1+NzArJSMSFcIbLgnJ6hs0Uuj8l
QKwcMv/mRQKBgDXvPGgmFDjgIeq6RxT1OqE0Qz+ou882472qDOmip0tZnls++xMT
KVnqB5JgJcB3yYS8KNgK8Cf5pz7lPHtCfbb0f2rwUIldJ3oMf9+B318yhIwQhC/Y
bAxPabhdUrDUjf2iEdM545wm38R8lCCug9jNYEWYoO8T9uLujsj5pqN3AoGAPAWt
aERuoJR8ihSPAIfDb842aMnGskdTc0oxCpnUqFjFSQwIiznOdgoqCoA2gMQF2y5u
g/3AZltcyrTu0n/uPLXlVvEBTmoa73x062P5Acf7wPmmIo2I1X8u1yJniCOkyoVn
xxqumn0fMOpCyKnOmxYXO2WR+A0UNip+ketyqNECgYA7vX/ACOHNGLLm2natvJRE
fGAoPV0Bur7JdhrX3xALURgBBk2LHYnZTDMQGH0dzFDCRAMfP91CQrlK7FKOa02h
nuZ0VZ6PBViYrO5GmlIvmRQWIsuPMaB0kQf5zPFJ1Gxfbi6g/ZntNl3Jg1wS5o62
R2p2x0JTLPunlixQKFP2iQ==
-----END PRIVATE KEY-----"/>




    <!--TOKEN有点问题-->  
    <add key="DomainURL" value="http://www.code-data.cn/" />

    <add key="AttachPath" value="/var/www/bfjweb/attachment" />

    <add key="WechatHost" value="https://wx.jieyangkang.cn/"/>

  </appSettings>

</configuration>