<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DBConnection" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <!--开发-->
    <add key="DBServer" value="106.55.32.150"/>
    <add key="DBName" value="main"/>
    <add key="DBUser" value="root"/>
    <add key="DBPwd" value="Zjc@mysql.com"/>
    <add key="DBPort" value="3306"/>

    <!--生产-->
    <!--<add key="DBServer" value="47.99.203.241"/>
    <add key="DBName" value="bfj"/>
    <add key="DBUser" value="bfj_user"/>
    <add key="DBPwd" value="@#Bf4J202U*#Fpi"/>
    <add key="DBPort" value="3306"/>-->
  </appSettings>

</configuration>